body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: inherit
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: lightblue;
}